TITLE=Utility Bot
DESCRIPTION=Utility Bot for Telegram
OPENAPI_PREFIX=''
DEBUG=True

POSTGRES_SERVER=db_postgres
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=<your_password>
POSTGRES_DB=utility_db
POSTGRES_DB_TESTS=utility_db_2

CELERY_BROKER_URL='redis://redis:6379'
CELERY_RESULT_BACKEND='redis://redis:6379'
REDIS_URL='redis://redis:6379'

BOT_TOKEN=<your_bot_token>